.header {
  background-color: var(--clr-blue-900);
  padding: 15px;
}

.header__logo {
  width: 25px;
  height: 20px;
}

.header__nav {
}

.header__link {
  width: 16px;
  height: 16px;
}

.header__avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid var(--clr-white);
}

.header__profile {
  position: relative;

  button {
    position: absolute;
    right: 0;
    background-color: var(--clr-blue-900);
    color: var(--clr-white);
    padding: 20;
    padding: 15px;

    opacity: 0;
    transform: translateX(-99999px) translateY(-99999px);
    transition: all 0.5 ease-in;
  }

  &:hover button {
    opacity: 1;
    transform: translateX(20px) translateY(0);
  }
}

@media screen and (min-width: 48px) {
  .header {
    padding: 20px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 64px) {
  .header__avatar {
    width: 40px;
    height: 40px;
  }
}
