@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100dvh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
  }

  picture,
  img,
  svg,
  canvas,
  video {
    display: block;
    max-width: 100%;
  }

  button {
    cursor: pointer;
    border: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap-style: pretty;
    max-width: 60ch;
  }

  ul,
  ol {
    list-style: none;
  }

  input,
  textarea,
  select,
  textarea {
    font: inherit;
    color: inherit;
    font-weight: inherit;
  }
}
