@layer components {
  .grid-result {
    gap: 20px;
  }

  .grid-result--trending {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    scrollbar-width: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    & > * {
      flex: 0 0 240px;
    }
  }

  .grid-result--regular {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  @media screen and (max-width: 25em) {
    .grid-result {
      max-width: 343px;
    }
  }

  @media screen and (min-width: 48em) {
    .grid-result {
      gap: 40px;
    }

    .grid-result--trending {
      & > * {
        flex: 0 0 470px;
      }
    }

    .grid-result--regular {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
  }

  @media screen and (min-width: 64em) {
    .grid-result--regular {
      grid-template-columns: repeat(4, minmax(0px, 1fr));
    }
  }

  @media screen and (min-width: 64em) {
    .grid-result--regular {
      grid-template-columns: repeat(4, minmax(0px, 1fr));
    }
  }
}
