.is-invalid {
  border-color: var(--clr-red-500);
}

.form-group .error {
  color: var(--clr-red-500);
  max-width: 200px;
  margin-top: 0.25rem;
  flex: 0 0 100px;
}

.form-group {
  margin-block: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--clr-blue-500);
}

.form-group input {
  color: var(--clr-white);
  border: none;
  padding: 5px 20px;
  font-size: 15px;
  flex: 1;
  outline: none;
}

.form-group:has(input:focus) {
  border-bottom: 1px solid var(--clr-white);
}

.form-group input::placeholder {
  color: transparent;
  opacity: 1;
}

.form-group label {
  color: var(--clr-white-50);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 0;
  font-size: 10px;
  color: var(--clr-white-40);
}

.form-control {
}
